@import "tailwindcss";
@theme { --breakpoint-xss: 400px; --breakpoint-xs: 450px; --breakpoint-sm: 600px; --breakpoint-md: 700px; --breakpoint-lg: 800px;  --breakpoint-xl: 1000px; --breakpoint-2xl: 1200px; --breakpoint-3xl: 1400px; --breakpoint-4xl: 1600px; }

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* * {
  transition: all 0.15s ease-out;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Saira, sans-serif;
}
